<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Crear Producto</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include('../partials/nav') %>
        <div class="container">
            <div class="card">
                <h1>Crear nuevo producto</h1>
                <br>
                <form method="POST" action="/productos/crear">
                    <label>Nombre:</label>
                    <input type="text" name="nombre" required>
                    <label>Descripción:</label>
                    <textarea name="descripcion" rows="4"></textarea>
                    <label>Precio:</label>
                    <input type="number" name="precio" min="0" step="0.01" required>
                    <label>Stock:</label>
                    <input type="number" name="stock" min="0" required>
                    <label>URL de imagen:</label>
                    <input type="text" name="imagen" placeholder="https://...">
                    <button type="submit">Crear</button>
                </form>
                <br>
                <a href="/productos" class="btn btn-danger">Volver</a>
            </div>
        </div>
</body>

</html>